<div class="nav">
    <div class="nav__items">
        <a class="nav__items__links" routerLink="/agents" routerLinkActive="target__link">Option</a>
        <a class="nav__items__links" routerLink="/maps" routerLinkActive="target__link">Option</a>
        <a class="nav__items__links" routerLink="/functions" routerLinkActive="target__link">Option</a>
    </div>
    <div class="nav__enters">
        <a class="nav__enter__link" href="">Login</a>
        <div class="nav__menu__icon">
            <img src="../../../assets/icons/bars-solid.svg">
        </div>
    </div>
</div>  